extends base.pug

block title
  title= title

block append styles
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css')

block content
  header
    h1= title
    a(href=paths.href)
      time(datetime=date)= moment(date).format("MMMM D, YYYY")
  article!= contents
